<html>
    <head>
        <meta charset="utf-8">
        <title>Album</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body class="container">
        <h1 class="display-4 mb-4">Album</h1>
        {{range .musicresource}}
            <a href="/music/album/{{.Meta.ID}}">
                <div>
                    <div>
                        <img src="data:{{.PicExt}};base64,{{.PicBase}}" alt="" width="100" height="100">
                    </div>
                    <div>{{.Meta.Album}}</div>
                </div>
            </a>
        {{end}}
    </body>
</html>